{{#partial "content"}}
    {{#if heros}}
        {{#each heros}}
            <p>hero:</p>
            <p>{{name}}</p>
            <p>{{age}}</p>
            <p>{{power}}</p>
            <p>{{weakness}}</p>
        {{/each}}
    {{else}}
        <p>no hero found!</p>
    {{/if}}
    {{#if squads}}
        {{#each squads}}
            <p>squad:</p>
            <p>{{size}}</p>
            <p>{{squad}}</p>
            <p>{{mission}}</p>
        {{/each}}
    {{/if}}
{{/partial}}
{{> layout.hbs}}